{%extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}

<div class="container text-center">
    <figure>
        <img style="border-radius: 100%; width: 250px; height: 250px; margin-top: 10px;" src="{{profile.image.url}}" alt="Avatar image">
    </figure>
    <h2>{{profile.first_name}} {{profile.last_name}}</h2>
    <h2>Email: {{profile.email}}</h2>
    {% if profile.number %}
    <h2>Phone Number: {{profile.number}}</h2>
    {% endif %}
    <h2>Bio: {{profile.bio}}</h2>
    <a href="#" class="btn btn-outline-success btn-lg" style="margin-bottom: 10px;">Edit Profile</a>
    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 20px;">
        {% for accom in accoms %}
        <div class="col">
            <div class="card">
                <a href="{% url 'accomodation' accom.id %}"><img class="card-img-top" src="{{accom.image.url}}" alt="{{accom.title}}"></a>
                <div class="card-body">
                    <h5 class="card-title">{{accom.title}}</h5>
                    <p class="card-text">Type of Accomodation: {{accom.type_of_property}}</p>
                    <p class="card-text">Rent: Ksh. {{accom.rent}}</p>
                    <p class="card-text">Address: {{accom.address}}</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-sm" href="{% url 'accomodation' accom.id %}">View Accomodation</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{%endblock%}